@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: var(--font-noto-sans);
  @apply tracking-wider
}

body {
  @apply bg-site-pattern-mobile md:bg-site-pattern bg-no-repeat
}

h1 {
  font-family: var(--font-literata);
  @apply font-semibold;
}

/* loader */
.ring-loader {
  --uib-size: 24px;
  --uib-speed: 2s;
  --uib-color: black;

  height: var(--uib-size);
  width: var(--uib-size);
  vertical-align: middle;
  transform-origin: center;
  animation: rotate var(--uib-speed) linear infinite;
}

.ring-loader circle {
  fill: none;
  stroke: var(--uib-color);
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: stretch calc(var(--uib-speed) * 0.75) ease-in-out infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes stretch {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dashoffset: -124px;
  }
}
